# Copy this file to .env and fill in your own values
# DO NOT commit .env to git!

DATABASE_URL="postgresql://neondb_owner:npg_lg1Pem4pKoHM@ep-mute-river-aorgripn-pooler.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
# uncomment next line if you use Prisma <5.10
# DATABASE_URL_UNPOOLED="postgresql://neondb_owner:npg_lg1Pem4pKoHM@ep-mute-river-aorgripn.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
# DATABASE_URL_UNPOOLED="postgresql://USER:PASSWORD@HOST/DATABASE?sslmode=require"

AURINKO_CLIENT_ID=65ea7219892993c62d7f391e056652be
AURINKO_CLIENT_SECRET=XMFY8KUzga9cNf2v0QIliKi7mUYmx7dZkDLiTGyFIE-1K54DSh8UvFFNKOmE7rDKSuopR_iAgVTmY7U6zAaYFA
AURINKO_SIGNING_SECRET=49677ee3c6ab5713d91b6e91e487edc826905bebccd080e54e645cfbeb85722a

NEXT_PUBLIC_URL='https://your-project.vercel.app'

GOOGLE_GENERATIVE_AI_API_KEY=AIzaSyAGTDu7HQ_nn2KfVK68qwlzQHeYvJBSXz8

STRIPE_SECRET_KEY=your_stripe_secret_key
STRIPE_WEBHOOK_SECRET=your_stripe_webhook_secret
STRIPE_PRICE_ID=your_stripe_price_id

NYLAS_CLIENT_ID=b6fceab3-afcc-479d-93ee-4c0489f94a79
NYLAS_API_KEY=nyk_v0_GYgX4uEx7VAWk2c8obyUUU5zqixQPi5DdiYhl8cX2LXZuDWjO8o7FOlfe466EtdX

AWS_REGION=wefnwofnoweinfoniew
AWS_ACCESS_KEY_ID=efnonfoinwoefinowenf
AWS_SECRET_ACCESS_KEY=ejfbwonfownefoiewofine
S3_BUCKET_NAME=ewfeowifoewinfowin

UPSTASH_REDIS_REST_URL="https://accepted-puma-107321.upstash.io"
UPSTASH_REDIS_REST_TOKEN="gQAAAAAAAaM5AAIgcDFhZGZkNmFjNGY2MjA0ZTZiYmRlOTM0OTNlNjUwY2UxNg"
